*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.welcome{
    background-image: linear-gradient(#ff5722, #ffc107);
    position: relative;
    overflow: hidden;
    height: 100vh;
}

h1{
    color: #fff;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-10%, -50%);
    font-size: 90px;
    z-index: 1;
    font-weight: 800;
    color: transparent;
    background-image: url(https://media.giphy.com/media/xT1XGZndeDLlWvSDaU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}
.logo{
    position:absolute;
    top: 1%;
    left: 1%;
    
}

.logo img{
    width: 100px;
    height: 100px;
    opacity: 0.8;

}

.svg1{
    position: absolute;
    top: 20%;
    left: 35%;
}


#capa_1{
    width: 300px;
    height: 300px;
    margin: 10% auto;
    display: block;
}

.face, .desktop{
    fill-opacity: 0;
    stroke: #F0EAD6;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 2000;
}

.desktop{
    animation: desktop 6s ease-in-out;
}

@keyframes desktop{
    0%{
        stroke-dashoffset: 2000;
    }

    100%{
        stroke-dashoffset: 0;
    }
}

.face{
    animation: face 12s ease-in-out;
}

@keyframes face{
    0%{
        stroke-dashoffset: 2000;
    }
    50%{
        stroke-dashoffset: 2000;
    }

    100%{
        stroke-dashoffset: 0;
    }
}



ul li{
    position: absolute;
    border: 1px solid#fff;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
}

.square li{
    top: 50vh;
    left: 45vw;
    animation: square 10s linear infinite;
}

.square li:nth-child(2){
    top: 80vh;
    left: 10vw;
    animation-delay: 2s;
}

.square li:nth-child(3){
    top: 80vh;
    left: 85vw;
    animation-delay: 4s;
}

.square li:nth-child(4){
    top: 10vh;
    left: 70vw;
    animation-delay: 6s;
}

.square li:nth-child(5){
    top: 10vh;
    left: 10vw;
    animation-delay: 8s;
}

@keyframes square {
    0%{
        transform: scale(0) rotateY(0deg);
        opacity: 1;
    }

    100%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }
}

.circle li {
    bottom: 0;
    left: 15vw;
    animation: circle 10s linear infinite;
}

.circle li:nth-child(2) {
    left: 35vw;
    animation-delay: 2s;
}

.circle li:nth-child(3) {
    left: 55vw;
    animation-delay: 6s;
}

.circle li:nth-child(4) {
    left: 75vw;
    animation-delay: 4s;
}

.circle li:nth-child(5) {
    left: 90vw;
    animation-delay: 8s;
}

@keyframes circle{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }

    100%{
        transform: scale(5) rotate(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
    }
}