*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.welcome{
    background-image: linear-gradient(#ff5722, #ffc107);
    position: relative;
    overflow: hidden;
    height: 100vh;
}

.welcome h1{
    color: #fff;
    position: absolute;
    top: 20%;
    left: 30%;
    transform: translate(-10%, -50%);
    font-size: 90px;
    z-index: 1;
    font-weight: 800;
    color: transparent;
    background-image: url(https://media.giphy.com/media/xT1XGZndeDLlWvSDaU/giphy.gif);
    background-position: center;
    -webkit-background-clip: text;
}
.logo{
    position:absolute;
    top: 1%;
    left: 1%;
    
}

.logo img{
    width: 100px;
    height: 100px;
    opacity: 0.8;

}

.svg1{
    position: absolute;
    top: 20%;
    left: 35%;
}


#capa_1{
    width: 300px;
    height: 300px;
    margin: 10% auto;
    display: block;
}

.face, .desktop{
    fill-opacity: 0;
    stroke: #F0EAD6;
    stroke-width: 3px;
    stroke-dashoffset: 0;
    stroke-dasharray: 2000;
}

.desktop{
    animation: desktop 6s ease-in-out;
}

@keyframes desktop{
    0%{
        stroke-dashoffset: 2000;
    }

    100%{
        stroke-dashoffset: 0;
    }
}

.face{
    animation: face 12s ease-in-out;
}

@keyframes face{
    0%{
        stroke-dashoffset: 2000;
    }
    50%{
        stroke-dashoffset: 2000;
    }

    100%{
        stroke-dashoffset: 0;
    }
}



ul li{
    position: absolute;
    border: 1px solid#fff;
    width: 30px;
    height: 30px;
    list-style: none;
    opacity: 0;
}

.square li{
    top: 50vh;
    left: 45vw;
    animation: square 10s linear infinite;
}

.square li:nth-child(2){
    top: 80vh;
    left: 10vw;
    animation-delay: 2s;
}

.square li:nth-child(3){
    top: 80vh;
    left: 85vw;
    animation-delay: 4s;
}

.square li:nth-child(4){
    top: 10vh;
    left: 70vw;
    animation-delay: 6s;
}

.square li:nth-child(5){
    top: 10vh;
    left: 10vw;
    animation-delay: 8s;
}

@keyframes square {
    0%{
        transform: scale(0) rotateY(0deg);
        opacity: 1;
    }

    100%{
        transform: scale(5) rotateY(1000deg);
        opacity: 0;
    }
}

.circle li {
    bottom: 0;
    left: 15vw;
    animation: circle 10s linear infinite;
}

.circle li:nth-child(2) {
    left: 35vw;
    animation-delay: 2s;
}

.circle li:nth-child(3) {
    left: 55vw;
    animation-delay: 6s;
}

.circle li:nth-child(4) {
    left: 75vw;
    animation-delay: 4s;
}

.circle li:nth-child(5) {
    left: 90vw;
    animation-delay: 8s;
}

@keyframes circle{
    0%{
        transform: scale(0) rotate(0deg);
        opacity: 1;
        bottom: 0;
        border-radius: 0;
    }

    100%{
        transform: scale(5) rotate(1000deg);
        opacity: 0;
        bottom: 90vh;
        border-radius: 50%;
    }
}

/*Here we have main section*/
.home {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #9c27b0, #8ecdff);
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
.nav{
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    display: inline; 
    align-items: center;    
    justify-content: space-between;
    width: 100vw;
}

.logo{
    flex-basis: 20%;
    position: relative;
    z-index: 1;
    margin-left: 100px;
    
    
}

.logo img{
    width: 100px;
    height: 20px;
    margin-top: 20px;

}

.nav-links{
    flex:1;
    text-align: right;    
    
}

.nav-links ul li {
    display: inline-block; 
    margin: 0 20px; 
    list-style: none;
}

.nav-links ul li a {
    color: #fff;
    text-decoration: none; 
}

.information{
    width: 800px;
    height: 1000px;
    position: absolute;
    top: 0;
    left: 28%;
    transform: translate(-50%);
}

#circle{
    width: 1000px;
    height: 1000px;
    position: absolute;
    top: -150px;
    left: 0;
    border-radius: 50%;
    transform: rotate(0deg);
    transition: 1s;
}

.features img{
    width: 70px;
}

.features{
    position: absolute;
    display: flex;
    color: #fff;
}

.features div{
    margin-left: 30px;
}

.features div p{
    margin-top: 8px;
}

.one{
    top:450px;
    right: 50px;
}

.two{
    top:150px;
    left: 350px;
    transform: rotate(-90deg);
}

.three{
    bottom: 450px;
    left: 50px;
    transform: rotate(-180deg);
}

.four{
    bottom: 150px;
    right: 350px;
    transform: rotate(-270deg);
}

.mobile{
    width: 200px;
    height: 400px;
    position: absolute;
    top: 200px;
    left: 500px;
    transform: translate(-50%);
    z-index: 1;
}

.controls{
    position: absolute;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.controls h3{
    margin: 15px 0;
    color: #fff;
}

#upbtn{
    width: 15px;
    cursor: pointer;
}

#downbtn{
    width: 15px;
    cursor: pointer;
    transform: rotate(180deg);
}

.overlay{
    width: 0;
    height: 0;  
    border-top: 500px solid #fff;
    border-right: 430px solid transparent;
    border-bottom: 500px solid #fff;
    border-left: 500px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}